@model Villa

<div class="w-100 card border-0 p-5">
	<div class="card-header bg-success bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Delete Villa</h2>
			</div>
		</div>
	</div>
</div>

<div class="card-body border p-4">
	<form method="post" class="row">
		<input asp-for="Id" hidden /> @* This code to the left needs to be here so it will update villas.
		Otherwise ID will be 0 and our http post method will try and create new villa.   It is marked as hidden so it won't be visible but when form is submitted the
		id will also be submitted.
		BEST PRACTICE -- to keep hidden fields straight under form tag so easier to find all.
		*@
		<div class="p-3">
			@*need to create the below for custom model validation to display. This is for the villa name and description being the same validation error example*@
			<div asp-validation-summary="ModelOnly"></div>
			<div class="form-floating py-1 col-12">
				@* //asp-for tag knows model entity so knows where to put data. *@
				<input asp-for="@Model.Name" disabled class="form-control border shadow" />
				<label asp-for="Name" class="ms-2"></label>
			</div>
			<div class="form-floating py-1 col-12">
				@* //asp-for tag knows model entity so knows where to put data. *@
				<input asp-for="@Model.Description" disabled class="form-control border shadow" />
				<label asp-for="Description" class="ms-2"></label>
				@* Span Asp Validation is the error message to show up if the field entered is blank or wrong data type i.e int or string*@
			</div>
			<div class="form-floating py-1 col-12">
				@* //asp-for tag knows model entity so knows where to put data. *@
				<input asp-for="@Model.Price" disabled class="form-control border shadow" />
				<label asp-for="Price" class="ms-2"></label>
			</div>
			<div class="form-floating py-1 col-12">
				@* //asp-for tag knows model entity so knows where to put data. *@
				<input asp-for="@Model.Sqft" disabled class="form-control border shadow" />
				<label asp-for="Sqft" class="ms-2"></label>
			</div>
			<div class="form-floating py-1 col-12">
				@* //asp-for tag knows model entity so knows where to put data. *@
				<input asp-for="@Model.Occupancy" disabled class="form-control border shadow" />
				<label asp-for="Occupancy" class="ms-2"></label>
			</div>
			<div class="form-floating py-1 col-12">
				@* //asp-for tag knows model entity so knows where to put data. *@
				<input asp-for="@Model.ImageUrl" disabled class="form-control border shadow" />
				<label asp-for="ImageUrl" class="ms-2"></label>
			</div>


			<div class="row pr-2">
				@* //below is the vode for the create buton. button type submit and success makes it green *@
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-danger w-100">
						<i class="bi bi-trash-fill"></i> Delete
					</button>
				</div>

				@* //Below is cancel button which redirects you to villa home page also known as index *@
				<div class="col-6 col-md-3">
					<a asp-controller="Villa" asp-action="Index" class="btn btn-secondary w-100">
						<i class="bi bi-x-circle"></i> Cancel
					</a>
				</div>


			</div>

		</div>




	</form>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
